
.movies_image_container{
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    display: flex; /* Adjust as needed */
    flex-wrap: wrap; /* Adjust as needed */
    background: linear-gradient(to right, rgb(16, 77, 247), rgb(233, 3, 3)); /* Gradient background */
    border: 1.50px solid transparent; /* Border thickness and initial color */
    border-radius: 4px; /* Adjust the border-radius as needed */
    cursor: pointer;
}

.truncate-lines-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

