@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
  }
  
  
.scrollbar-hidden::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  a:-webkit-any-link {
    text-decoration: none !important;
  }
  
  a:hover -webkit-any-link {
    text-decoration: none !important;
  
  }
  
  a:hover {
    text-decoration: "none";
  }
  
  :-webkit-any(input) {
    outline: none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .movie_card{
    width: auto; 
    max-width: 300px;
    height: auto; 
    border-radius: 4px; 
    cursor: pointer;
    position: relative;
    color: rgb(12, 15, 15);
    border: 1px solid rgb(137, 119, 1);
}

.movie_card .movie_name_container{
  width: 100%;
  height: auto;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.50);
  padding-block: 6px;
  padding-inline: 4px;
  position: absolute;
  bottom: 0;
  z-index: 4;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


/* In your stylesheets or CSS file */
@keyframes zoom {
  0% {
    transform: scale(1); /* Initial scale (no zoom) */
  }
  50% {
    transform: scale(1.2); /* Zoom in at 50% of animation duration */
  }
  100% {
    transform: scale(1); /* Return to original size at the end of animation */
  }
}

.animate-zoom {
  animation: zoom 18s infinite; /* Adjust the duration (16s in this example) */
}
