@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
  }
  
  
.scrollbar-hidden::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  a:-webkit-any-link {
    text-decoration: none !important;
  }
  
  a:hover -webkit-any-link {
    text-decoration: none !important;
  
  }
  
  a:hover {
    text-decoration: "none";
  }
  
  :-webkit-any(input) {
    outline: none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /************************ All Cards Related Styles ******************/

/***** Responsive Movie Cards Styles ****************/
  .responsive_movie_card{
    width: auto; 
    height: auto; 
    border-radius: 4px; 
    position: relative;
    color: rgb(12, 15, 15);
    border: 1px solid #01524a;
}

.responsive_movie_card .movie_title{
  width: 100%;
  height: auto;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.60);
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/********* Slider Showcase Movies Card Styles ****************/
.slidershowcase_movie_card{
    border-radius: 4px; 
    position: relative;
    color: rgb(12, 15, 15);
    border: 1px solid #01433c;
    flex-shrink: 0;
}

.slidershowcase_movie_card .movie_title{
  width: 100%;
  height: auto;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.60);
  position: absolute;
  bottom: 0;
  z-index: 4;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


/**** Movie Detais Page Movie Thumbnail Zoom In Out Effect Animation ****/
@keyframes zoom {
  0% {
    transform: scale(1); /* Initial scale (no zoom) */
  }
  50% {
    transform: scale(1.2); /* Zoom in at 50% of animation duration */
  }
  100% {
    transform: scale(1); /* Return to original size at the end of animation */
  }
}

.animate-zoom {
  animation: zoom 18s infinite; /* Adjust the duration (16s in this example) */
}

/******* Custom toast messsage styles ********************************/
.custome_toast_message {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  padding: 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  width: auto;
  max-width: 300px;
  height: auto;
  color: #FFF;
  font-size: 13px;
  text-align-last: center;
  font-weight: 400;
  text-align: center;
  z-index: 9999;
  opacity: 0;
}

@keyframes slideUp {
  to {
    bottom: 30%;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideDown {
  to {
    bottom: 0;
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}

/****** Loadings Css Styles ********************************
// 3 dots loading 
/*** Buttons Proceed Loading ***/
.three_dots_loading{
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 12px 0 #fff, -12px 0 #fff;
  position: relative;
  animation: whiteflash 0.5s ease-out infinite alternate;
}

@keyframes whiteflash {
  0% {
    background-color: #FFF2;
    box-shadow: 20px 0 #FFF2, -20px 0 #FFF;
  }

  50% {
    background-color: #FFF;
    box-shadow: 20px 0 #FFF2, -20px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 20px 0 #FFF, -20px 0 #FFF2;
  }
}
